// grid
$width-sm: 576px;
$width-md: 767px;
$width-lg: 992px;

//fonts
$font-b: 'Proxima Nova Rg', sans-serif;
$font-s: 'Proxima Nova Lt', sans-serif;
$font: 'PT Sans', sans-serif;

//colors

$white: #fff;
$purple: #9f9acf;
$grey: #665f60;